{% extends "base.html" %}

{% block content %}

    
    

    {% if blog|length == 0 %}
    <h1 class="no_content">Blog Content Coming Soon!!</h1>
    {% else %}
            <div class="all_blog_post">
                {% for post in blog %}

                    <div class="blog_post">
                        <div class="blog_title">
                            <a href="blog?id={{post.id}}">
                                <h1>
                                {{post.title}}
                                </h1>
                            </a>
                        </div>
                        <div class="blog_content">
                            <p>
                                {{post.body}}
                            </p>
                        </div>
                        <div class="post_bottom">
                            <div class="owner">
                                <p>
                                    Written by: 
                                    <a href="blog?user={{post.owner.id}}">{{post.owner.username}}
                                    </a>
                                </p>
                            </div>
                            <!--
                            <div class="reaction">
                                <span>
                                <div class="likes">
                                    <a href="blog?id={{post.id}}&like=True">
                                        <img src="/static/images/like_icon.png">

                                    </a>
                                    <span>{{post.likes}}</span>
                                </div>
                                <div class="dislikes>">
                                    <a href="blog?id={{post.id}}&dislike=True">
                                        <img src="/static/images/dislike_icon.png">

                                    </a>
                                    <span>{{post.dislikes}}</span>
                                </div>
                                </span>
                            </div>
                            -->
                        </div>
                    </div>
                {% endfor %}
            </div>




    {% endif %}

{% endblock %}
    